/target/
/dist/
*.pdb

/data/*
!/data/auctionanalyzer-4.12.2/
/data/auctionanalyzer-4.12.2/*
!/data/auctionanalyzer-4.12.2/resources/
!/data/auctionanalyzer-4.12.2/static_data.json
/data/auctionanalyzer-4.12.2/resources/*
!/data/auctionanalyzer-4.12.2/resources/MapBidCalculator.calculator_data_merged.csv

/models/ppocrv4/*.onnx
/models/ppocrv4/*.dll
!/models/ppocrv4/README.md
